body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #f8f8f8;
}
.sidebarcss{
    width: 160px;
    border-right: 2px solid rgb(106,125,126);
    height: 100%;
    float: left;
    padding: 0px 0px 10px 3px;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    z-index: 200;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
}
.elementbar{
    padding-top: 8px;
    height: 42px;
    /*float: left;*/
    width: 100%;
    transition: all 0.2s ease-in-out;
    background-color: white;
}
.logo{
    float: left;
    background-color: white;
    padding-left: 0.5%;
    width: 26%;
    padding-top: 5px;
    height: 35px;
}
img{
    max-width: 100%;
    max-height: 90%;
}
.name{
    float: left;
    background-color: white;
    width: 67%;
    height: 26px;
    padding-top: 14px;
    font-size: 13px;
    text-align: center;
    font-family: "times new roman", times, serif;
    color: rgb(106,125,126);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}
.elementbar1{
    margin-top: 25px;
    height: 45px;
    /*border-right: 2px solid white;*/
    /*float: left;*/
    width: 100%;
    transition: all 0.2s ease-in-out;
    background-color: white;
}
.choice{
    float: left;
    background-color: white;
    padding-left: 3%;
    width: 60%;
    height: 26px;
    padding-top: 14px;
    font-size: 15px;
    text-align: center;
    font-family: "trebuchet MS", sans-serif;
    color: rgb(106,125,126);
    cursor: pointer;
}
.choice1{
    float: left;
    background-color: white;
    margin-left: 28%;
    width: 40%;
    height: 30px;
    padding-top: 5px;
    font-size: 15px;
    text-align: left;
    font-family: "trebuchet MS", sans-serif;
    color: rgb(106,125,126);
    cursor: pointer;
}
.elementbar2{
    margin-top: 315px;
    padding-top: 10px;
    border-top: 1px solid #ececec;
    height: 115px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    background-color: white;
}
.userlogo{
    margin-top: 10px;
    background-color: white;
    padding-left: 28%;
    width: 44%;
    height: 70px;
}
.middlebarcss{
    width: 100%;
    border-right: 1px solid #ececec;
    height: 100%;
    float: left;
    padding: 0px 0px 10px 3px;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    z-index: 0;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
}
#userinfoblock{
    display: block;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
}
#imgblock{
    margin-top: 10%;
    margin-left: 40%;
    width: 20%;
    height: 15%;
    background-color: #FFFFFF;
}
img{
    max-height: 100%;
    max-width: 100%;
}
.inputarea{
    float: left;
    margin-top: 3%;
    margin-left: 17%;
    width: 60%;
    height: 10%;
    /*background-color: #f8f8f8;*/
}
.pngblock{
    float: left;
    padding-top: 17px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
}
.inputcss{
    float: left;
    margin-top: 16px;
    margin-left: 10px;
    padding-left: 8px;
    padding-top: 4px;
    width: 85%;
    height: 25px;
    border-radius: 20px;
    border: 1.8px solid rgb(39,38,54);
    background-color: #FFFFFF;
}
input{
    width: 90%;
    background: none;
    border: none;
    outline: none;
}
#bf{
    margin-left: 41%;
    padding-top: 0.5%;
    /*padding-left: 3%;*/
    margin-top: 7%;
    width: 20%;
    height: 40%;
    border: 1px solid rgb(106,125,126);
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    /*font-family: caecilia, times, serif;*/
    color: rgb(39,38,54);
    text-align: center;
    cursor: pointer;
}
#changepasswordblock{
    display: block;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
}